Question:<br>
Load the lms_members.xlsx file to Python using pandas and perform the following operation:
<br>1.
<br>/* Display name of all the members */
<br>/* Display name of all the members whose membership_status is Permanent*/
<br>/* Display Name of the member , City in which he resides and date of membership expiry*/
<br>/* name of the member whose date_expire is greater than 01-01-2020 */
<br>/* name of the member who resides in PUNE */
<br>/* name of the member who resides in Pune and his membership_status is Permanent*/
<br>/* list all unique cities in the members dataframe*/

<br>2.
<br> Add new value
<br> Update old value by new value

--------------------------------------------------------------------

Impoerted panda library as po <br>
opened excel file as my file

In [95]:
import pandas as po
myfile = po.read_excel("/home/diot/Desktop/Practicals/python/pandas/Assignment/lms_members.xlsx")

Display all names

In [96]:
myfile.head(None)

,MEMBER_ID,MEMBER_NAME,CITY,DATE_REGISTER,DATE_EXPIRE,MEMBERSHIP_STATUS
0,LM001,Akshay,CHENNAI,2018-06-12,2020-10-26,Temporary
1,LM002,Amruta,PUNE,2020-03-02,2020-06-03,Temporary
2,LM003,Ashish,CHENNAI,2018-06-12,2020-08-17,Permanent
3,LM004,Bhakti,CHENNAI,2018-06-12,2020-05-12,Temporary
4,LM005,Gautam,BANGALORE,2018-06-12,2020-11-06,Temporary
5,LM006,Hetvi,CHENNAI,2018-06-12,2020-10-26,Permanent
6,LM007,Mayur,Pune,2019-09-19,2020-10-19,Permanent
7,LM008,Nikhil,Bangalore,2020-03-09,2020-06-03,Permanent
8,LM009,Nikita,Delhi,2012-12-12,2021-12-12,Temporary
9,LM010,Preity,Kerala,2019-06-17,2020-08-11,Permanent
10,LM011,Priti,Punjab,2019-08-19,2023-12-23,Permanent
11,LM012,Rasika,CHENNAI,2018-06-12,2020-10-26,Temporary
12,LM013,Renuka,PUNE,2020-03-02,2020-06-03,Temporary
13,LM014,Sandeep,CHENNAI,2018-06-12,2020-08-17,Permanent
14,LM015,Saurabh,CHENNAI,2018-06-12,2020-05-12,Temporary
15,LM016,Sayali,BANGALORE,2018-06-12,2020-11-06,Temporary
16,LM017,Shruti,CHENNAI,2018-06-12,2020-10-26,Permanent
17,LM018,Smita,Pune,2019-09-19,2020-10-19,Permanent
18,LM019,Snehal,Bangalore,2020-03-09,2020-06-03,Permanent
19,LM020,Supriya,Delhi,2012-12-12,2021-12-12,Temporary
20,LM021,Writankar,Kerala,2019-06-17,2020-06-17,Permanent
21,LM022,Amit,Punjab,2019-08-19,2023-12-23,Permanent
22,LM023,Ritesh,Bangalore,2018-06-12,2020-08-17,Permanent
23,LM024,Gaurav,Delhi,2018-06-12,2020-05-12,Temporary
24,LM025,Sagar,Kerala,2018-06-12,2020-11-06,Temporary

Names with <u> permanent </u> membership

In [97]:
myfile.loc[myfile['MEMBERSHIP_STATUS'] == 'Permanent',['MEMBER_NAME']]
myfile[myfile['MEMBERSHIP_STATUS'] == 'Permanent'][['MEMBER_NAME']]

   MEMBER_NAME
2       Ashish
5        Hetvi
6        Mayur
7       Nikhil
9       Preity
10       Priti
13     Sandeep
16      Shruti
17       Smita
18      Snehal
20   Writankar
21        Amit
22      Ritesh

Name, city and membership expiry date

In [98]:
myfile[['MEMBER_NAME','CITY','DATE_EXPIRE']]

   MEMBER_NAME       CITY DATE_EXPIRE
0       Akshay    CHENNAI  2020-10-26
1       Amruta       PUNE  2020-06-03
2       Ashish    CHENNAI  2020-08-17
3       Bhakti    CHENNAI  2020-05-12
4       Gautam  BANGALORE  2020-11-06
5        Hetvi    CHENNAI  2020-10-26
6        Mayur       Pune  2020-10-19
7       Nikhil  Bangalore  2020-06-03
8       Nikita      Delhi  2021-12-12
9       Preity     Kerala  2020-08-11
10       Priti     Punjab  2023-12-23
11      Rasika    CHENNAI  2020-10-26
12      Renuka       PUNE  2020-06-03
13     Sandeep    CHENNAI  2020-08-17
14     Saurabh    CHENNAI  2020-05-12
15      Sayali  BANGALORE  2020-11-06
16      Shruti    CHENNAI  2020-10-26
17       Smita       Pune  2020-10-19
18      Snehal  Bangalore  2020-06-03
19     Supriya      Delhi  2021-12-12
20   Writankar     Kerala  2020-06-17
21        Amit     Punjab  2023-12-23
22      Ritesh  Bangalore  2020-08-17
23      Gaurav      Delhi  2020-05-12
24       Sagar     Kerala  2020-11-06

Names if expire is greater than 1-1-2020

In [99]:
myfile.loc[myfile['DATE_EXPIRE']>'1-1-2020',['MEMBER_NAME','DATE_EXPIRE']]

   MEMBER_NAME DATE_EXPIRE
0       Akshay  2020-10-26
1       Amruta  2020-06-03
2       Ashish  2020-08-17
3       Bhakti  2020-05-12
4       Gautam  2020-11-06
5        Hetvi  2020-10-26
6        Mayur  2020-10-19
7       Nikhil  2020-06-03
8       Nikita  2021-12-12
9       Preity  2020-08-11
10       Priti  2023-12-23
11      Rasika  2020-10-26
12      Renuka  2020-06-03
13     Sandeep  2020-08-17
14     Saurabh  2020-05-12
15      Sayali  2020-11-06
16      Shruti  2020-10-26
17       Smita  2020-10-19
18      Snehal  2020-06-03
19     Supriya  2021-12-12
20   Writankar  2020-06-17
21        Amit  2023-12-23
22      Ritesh  2020-08-17
23      Gaurav  2020-05-12
24       Sagar  2020-11-06

Names who resides in PUNE

In [100]:
myfile.loc[myfile['CITY']=='PUNE',['MEMBER_NAME']]

   MEMBER_NAME
1       Amruta
12      Renuka

Names who resides in Pune and has Permanent membership

In [101]:
myfile.loc[(myfile['CITY']=='Pune') & (myfile['MEMBERSHIP_STATUS']=='Permanent'),['MEMBER_NAME']]

   MEMBER_NAME
6        Mayur
17       Smita

Names who resides in unique city

In [102]:
myfile['CITY'].unique().tolist()

['CHENNAI',
 'PUNE',
 'BANGALORE',
 'Pune',
 'Bangalore',
 'Delhi',
 'Kerala',
 'Punjab']

Add new value

In [103]:
new_row = {'MEMBER_ID':'LM026','MEMBER_NAME':'Akurdekar','CITY':'PUNE',
'DATE_REGISTER':'1996-10-18','DATE_EXPIRE':'2096-10-18','MEMBERSHIP_STATUS':'Permanent'}
#append row to the dataframe
myfile = myfile.append(new_row, ignore_index=True)

/tmp/ipykernel_17789/3952081741.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  myfile = myfile.append(new_row, ignore_index=True)

In [104]:
myfile.head(None)

,MEMBER_ID,MEMBER_NAME,CITY,DATE_REGISTER,DATE_EXPIRE,MEMBERSHIP_STATUS
0,LM001,Akshay,CHENNAI,2018-06-12 00:00:00,2020-10-26 00:00:00,Temporary
1,LM002,Amruta,PUNE,2020-03-02 00:00:00,2020-06-03 00:00:00,Temporary
2,LM003,Ashish,CHENNAI,2018-06-12 00:00:00,2020-08-17 00:00:00,Permanent
3,LM004,Bhakti,CHENNAI,2018-06-12 00:00:00,2020-05-12 00:00:00,Temporary
4,LM005,Gautam,BANGALORE,2018-06-12 00:00:00,2020-11-06 00:00:00,Temporary
5,LM006,Hetvi,CHENNAI,2018-06-12 00:00:00,2020-10-26 00:00:00,Permanent
6,LM007,Mayur,Pune,2019-09-19 00:00:00,2020-10-19 00:00:00,Permanent
7,LM008,Nikhil,Bangalore,2020-03-09 00:00:00,2020-06-03 00:00:00,Permanent
8,LM009,Nikita,Delhi,2012-12-12 00:00:00,2021-12-12 00:00:00,Temporary
9,LM010,Preity,Kerala,2019-06-17 00:00:00,2020-08-11 00:00:00,Permanent
10,LM011,Priti,Punjab,2019-08-19 00:00:00,2023-12-23 00:00:00,Permanent
11,LM012,Rasika,CHENNAI,2018-06-12 00:00:00,2020-10-26 00:00:00,Temporary
12,LM013,Renuka,PUNE,2020-03-02 00:00:00,2020-06-03 00:00:00,Temporary
13,LM014,Sandeep,CHENNAI,2018-06-12 00:00:00,2020-08-17 00:00:00,Permanent
14,LM015,Saurabh,CHENNAI,2018-06-12 00:00:00,2020-05-12 00:00:00,Temporary
15,LM016,Sayali,BANGALORE,2018-06-12 00:00:00,2020-11-06 00:00:00,Temporary
16,LM017,Shruti,CHENNAI,2018-06-12 00:00:00,2020-10-26 00:00:00,Permanent
17,LM018,Smita,Pune,2019-09-19 00:00:00,2020-10-19 00:00:00,Permanent
18,LM019,Snehal,Bangalore,2020-03-09 00:00:00,2020-06-03 00:00:00,Permanent
19,LM020,Supriya,Delhi,2012-12-12 00:00:00,2021-12-12 00:00:00,Temporary
20,LM021,Writankar,Kerala,2019-06-17 00:00:00,2020-06-17 00:00:00,Permanent
21,LM022,Amit,Punjab,2019-08-19 00:00:00,2023-12-23 00:00:00,Permanent
22,LM023,Ritesh,Bangalore,2018-06-12 00:00:00,2020-08-17 00:00:00,Permanent
23,LM024,Gaurav,Delhi,2018-06-12 00:00:00,2020-05-12 00:00:00,Temporary
24,LM025,Sagar,Kerala,2018-06-12 00:00:00,2020-11-06 00:00:00,Temporary
25,LM026,Akurdekar,PUNE,1996-10-18,2096-10-18,Permanent